#Possible {
    color: red;
    font-size: 100px;
    background-color: skyblue;
}

table {

    background-color: springgreen;
}
li {
    margin: 50px;
    background-color: teal;
    border: 5px solid black;
    padding: 20px 

}

.form-control {
    background-color: coral;
    border: 2px solid rgb(15, 12, 12);
    font-style: inherit;
    cursor: -webkit-grab;
    list-style: -webkit-image-set(5);
}

body {
    background-color: lightgoldenrodyellow;
}